@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Gupter:wght@400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    font-weight: 800;
}

:root{
    --platina: #d8e2dcff;
    --champanhe-rosa: #ffe5d9ff;
    --rosa: #ffcad4ff;
    --flordecerejeira: #f4acb7ff;
    --mountbatten-rosa: #9d8189ff;
    --fonte-titulo: "Grey Qo", cursive;
    --fonte-texto: "Gupter", serif;
}

body{
    background-color: var(--champanhe-rosa);
    color: var(--platina);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: var(--fonte-texto);
    margin: 0;
    font-size: 20px;
}

.caixa-principal{
    background-color: var(--mountbatten-rosa);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px ;

}

.titulo{
    color: var(--rosa);
    font-family: var(--fonte-titulo);
    margin: 0 0 20px 0;
    font-size: 100px;
}

button{
    background-color: var(--mountbatten-rosa);
    color: var(--platina);
    border: none;
    border-radius: 15px;
    padding: 15px;
    transition: 0.3s;
    margin: 10px auto;
    cursor: pointer;
    font-size: 16px;
}

button:hover{
    background-color: var(--flordecerejeira);
    
}
